<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
        <title>Demo Python Docker Webapp</title>
       <link rel="stylesheet" media="screen" href ="static/bootstrap.min.css">
       <link rel="stylesheet" href="static/bootstrap-theme.min.css">
       <meta name="viewport" content = "width=device-width, initial-scale=1.0">

    </head>
    <body>


<div class="container">


  <h2>Demo Python Docker Webapp</h2>
  <form  action="" method="post" role="form">
    {{ form.csrf }}
    <div class="form-group">
      <label for="action">Action:</label>
      <input list="useraction" class="form-control" id="action" name="action" placeholder="Select action Dropdown">
      <datalist id="useraction">
        <option value="Display typed Username">
        <option value="Do not display typed username">
      </datalist>

      <label for="name">Userame:    </label>
      <input type="text" class="form-control" id="name" name="name" pattern="[A-Za-z]{4,12}" placeholder="Enter username 4-12 char(No Special Char)">
      <br>

    </div>
    <button type="submit" class="btn btn-success">PROCEED</button>
  </form>

  <br>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}

        {% for message in messages %}
            {% if "Error" not in message[1]: %}
                <div class="alert alert-info">
                <strong>Success! </strong> {{ message[1] }}
                </div>
            {% endif %}

            {% if "Error" in message[1]: %}
                <div class="alert alert-warning">
                {{ message[1] }}
                </div>
            {% endif %}
        {% endfor %}
            {% endif %}
        {% endwith %}

</div>
<br>
</div>
</div>
</body>
</html>
